# Derive variables and combine data sets - Content list
1. Import libraries and data sets
2. Derivate variables: Region (departure and arrival)
3. Combine data sets

# 1. Import libraries and data sets

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Create path
path = r'C:\Users\Mathilde\Documents\DATA ANALYSIS CAREERFOUNDRY\Aug 2024 - SNCF project'
# Data set on the delays on the TGV
df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared data', 'delay_tgv_clean.csv'), index_col = False)
# Data set on the number of travelers
df_nb_tr = pd.read_csv(os.path.join(path, '02 Data', 'Prepared data', 'df_nb_travelers_clean.csv'), index_col = False)

# 2. Derivate variables: Region (departure and arrival)

In [3]:
df.head()

,Unnamed: 0,Date,Service,Departure station,Arrival station,Avg trip length,Number of trips scheduled,Number of trains cancelled,Number of trains delayed on departure,Avg delay of trains delayed on departure,...,Comments delay on arrival,Number of trains >15 min delay,Number of trains >30 min delay,Number of trains >60 min delay,% delay from external causes,% delay infrastructure cause,% delay traffic management cause,% delay rolling stock cause,% delay station management and reutilization of stock,"% delay because of accommodation of passengers (crowd, disability, connections)"
0,0,2018-01,National,BORDEAUX ST JEAN,PARIS MONTPARNASSE,141,870,5,289,11.247809,...,NaN,110,44,8,36.134454,31.092437,10.924370,15.966387,5.042017,0.840336
1,1,2018-01,National,LA ROCHELLE VILLE,PARIS MONTPARNASSE,165,222,0,8,2.875000,...,NaN,22,5,0,15.384615,30.769231,38.461538,11.538462,3.846154,0.000000
2,2,2018-01,National,PARIS MONTPARNASSE,QUIMPER,220,248,1,37,9.501351,...,"Ce mois-ci, l'OD a été touchée par les inciden...",26,17,7,26.923077,38.461538,15.384615,19.230769,0.000000,0.000000
3,3,2018-01,National,PARIS MONTPARNASSE,ST MALO,156,102,0,12,19.912500,...,"Ce mois-ci, l'OD a été touchée par les inciden...",8,6,4,23.076923,46.153846,7.692308,15.384615,7.692308,0.000000
4,4,2018-01,National,PARIS MONTPARNASSE,ST PIERRE DES CORPS,61,391,2,61,7.796995,...,NaN,17,6,0,21.212121,42.424242,9.090909,21.212121,6.060606,0.000000

In [4]:
df['Departure station'].nunique()

59

In [5]:
df['Arrival station'].nunique()

59

In [6]:
df['Departure station'].unique()

array(['BORDEAUX ST JEAN', 'LA ROCHELLE VILLE', 'PARIS MONTPARNASSE',
       'QUIMPER', 'RENNES', 'ST PIERRE DES CORPS', 'TOURS', 'NANTES',
       'PARIS EST', 'STRASBOURG', 'DUNKERQUE', 'LILLE', 'PARIS VAUGIRARD',
       'TOURCOING', 'CHAMBERY CHALLES LES EAUX', 'LYON PART DIEU',
       'MONTPELLIER', 'MULHOUSE VILLE', 'NICE VILLE', 'PARIS LYON',
       'BARCELONA', 'GENEVE', 'MADRID', 'BREST', 'POITIERS',
       'TOULOUSE MATABIAU', 'REIMS', 'DOUAI', 'PARIS NORD',
       'BELLEGARDE (AIN)', 'MACON LOCHE', 'MARNE LA VALLEE', 'PERPIGNAN',
       'TOULON', 'LAUSANNE', 'ANGERS SAINT LAUD', 'METZ', 'NANCY',
       'BESANCON FRANCHE COMTE TGV', 'GRENOBLE', 'NIMES',
       'SAINT ETIENNE CHATEAUCREUX', 'FRANCFORT', 'ITALIE', 'ZURICH',
       'ANGOULEME', 'VANNES', 'MARSEILLE ST CHARLES', 'ANNECY',
       'AVIGNON TGV', 'VALENCE ALIXAN TGV', 'STUTTGART', 'LAVAL',
       'LE MANS', 'ST MALO', 'ARRAS', 'AIX EN PROVENCE TGV',
       'DIJON VILLE', 'LE CREUSOT MONTCEAU MONTCHANIN'], dtype=object)

In [7]:
df['Arrival station'].unique()

array(['PARIS MONTPARNASSE', 'QUIMPER', 'ST MALO', 'ST PIERRE DES CORPS',
       'LYON PART DIEU', 'STRASBOURG', 'PARIS EST', 'PARIS NORD',
       'TOURCOING', 'NANTES', 'PARIS VAUGIRARD', 'BORDEAUX ST JEAN',
       'PARIS LYON', 'MARNE LA VALLEE', 'CHAMBERY CHALLES LES EAUX',
       'MARSEILLE ST CHARLES', 'FRANCFORT', 'ZURICH', 'ANGOULEME',
       'POITIERS', 'TOURS', 'METZ', 'REIMS', 'DOUAI', 'MONTPELLIER',
       'MULHOUSE VILLE', 'VALENCE ALIXAN TGV', 'STUTTGART', 'BARCELONA',
       'ANGERS SAINT LAUD', 'LAVAL', 'NANCY', 'LILLE', 'GRENOBLE',
       'LE CREUSOT MONTCEAU MONTCHANIN', 'MACON LOCHE', 'NIMES', 'ITALIE',
       'LAUSANNE', 'RENNES', 'BREST', 'LA ROCHELLE VILLE', 'LE MANS',
       'TOULOUSE MATABIAU', 'VANNES', 'DUNKERQUE', 'AVIGNON TGV',
       'BELLEGARDE (AIN)', 'BESANCON FRANCHE COMTE TGV', 'DIJON VILLE',
       'MADRID', 'ARRAS', 'AIX EN PROVENCE TGV', 'ANNECY', 'NICE VILLE',
       'PERPIGNAN', 'SAINT ETIENNE CHATEAUCREUX', 'TOULON', 'GENEVE'],
      dtype=object)

We have the same number of stations and the same list for departure and arrival, which is good. But I notice one small inconsistency: a station called "ITALIE". It's the name (in French) of a country - but it should be the name of a city, not of a country.

In [8]:
df.loc[df['Arrival station'] == "ITALIE"]

,Unnamed: 0,Date,Service,Departure station,Arrival station,Avg trip length,Number of trips scheduled,Number of trains cancelled,Number of trains delayed on departure,Avg delay of trains delayed on departure,...,Comments delay on arrival,Number of trains >15 min delay,Number of trains >30 min delay,Number of trains >60 min delay,% delay from external causes,% delay infrastructure cause,% delay traffic management cause,% delay rolling stock cause,% delay station management and reutilization of stock,"% delay because of accommodation of passengers (crowd, disability, connections)"
78,78,2018-01,International,PARIS LYON,ITALIE,394,94,0,27,11.261728,...,NaN,22,15,6,33.333333,19.047619,23.809524,14.285714,9.523810,0.0
158,158,2018-02,International,PARIS LYON,ITALIE,431,85,0,12,5.069444,...,NaN,10,6,1,40.000000,10.000000,20.000000,30.000000,0.000000,0.0
340,340,2018-03,International,PARIS LYON,ITALIE,431,95,1,19,22.387719,...,NaN,20,10,4,15.789474,15.789474,21.052632,42.105263,5.263158,0.0
450,450,2018-04,International,PARIS LYON,ITALIE,360,99,39,13,12.058974,...,NaN,13,8,3,30.000000,10.000000,10.000000,40.000000,10.000000,0.0
546,546,2018-05,International,PARIS LYON,ITALIE,259,89,20,7,26.680952,...,NaN,13,6,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8948,8948,2024-01,International,PARIS LYON,ITALIE,502,20,0,3,10.544444,...,NaN,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
9022,9022,2024-02,International,PARIS LYON,ITALIE,502,29,0,5,8.850000,...,NaN,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
9194,9194,2024-03,International,PARIS LYON,ITALIE,502,30,0,2,3.641667,...,NaN,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
9333,9333,2024-04,International,PARIS LYON,ITALIE,502,28,0,1,14.766667,...,NaN,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
9432,9432,2024-05,International,PARIS LYON,ITALIE,502,18,0,2,10.741667,...,NaN,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

It is, indeed, an international trip. I researched on the SNCF website and the only connection from Paris Lyon to Italy is bound to Milan. I'm replacing "ITALIE" with "MILAN" in both "Arrival station" and "Departure station".

In [9]:
df.loc[df['Arrival station'] == "ITALIE", 'Arrival station'] = 'MILAN'
df.loc[df['Departure station'] == "ITALIE", 'Departure station'] = 'MILAN'

In [10]:
# Creation of departure region column - Matching case and accents with the GeoJSON file I'll be using later
df['Departure region'] = 'Other'
df.loc[df['Departure station'].isin(['BORDEAUX ST JEAN', 'LA ROCHELLE VILLE', 'POITIERS', 'ANGOULEME']), 'Departure region'] = 'Nouvelle-Aquitaine'
df.loc[df['Departure station'].isin(['ST PIERRE DES CORPS', 'TOURS']), 'Departure region'] = 'Centre-Val de Loire'
df.loc[df['Departure station'].isin(['PARIS MONTPARNASSE', 'PARIS EST', 'PARIS VAUGIRARD', 'PARIS LYON', 'PARIS NORD', 'MARNE LA VALLEE']), 'Departure region'] = 'Ile-de-France'
df.loc[df['Departure station'].isin(['QUIMPER', 'RENNES', 'BREST', 'VANNES', 'ST MALO']), 'Departure region'] = 'Bretagne'
df.loc[df['Departure station'].isin(['NANTES', 'ANGERS SAINT LAUD', 'LE MANS', 'LAVAL']), 'Departure region'] = 'Pays de la Loire'
df.loc[df['Departure station'].isin(['STRASBOURG', 'MULHOUSE VILLE', 'REIMS', 'METZ', 'NANCY']), 'Departure region'] = 'Grand-Est'
df.loc[df['Departure station'].isin(['DUNKERQUE', 'LILLE', 'TOURCOING', 'DOUAI', 'ARRAS']), 'Departure region'] = 'Hauts-de-France'
df.loc[df['Departure station'].isin(['CHAMBERY CHALLES LES EAUX', 'LYON PART DIEU', 'BELLEGARDE (AIN)', 'GRENOBLE', 'ANNECY', 'SAINT ETIENNE CHATEAUCREUX', 'VALENCE ALIXAN TGV']), 'Departure region'] = 'Auvergne-Rhone-Alpes'
df.loc[df['Departure station'].isin(['MONTPELLIER', 'PERPIGNAN', 'NIMES', 'TOULOUSE MATABIAU']), 'Departure region'] = 'Occitanie'
df.loc[df['Departure station'].isin(['NICE VILLE', 'TOULON', 'MARSEILLE ST CHARLES', 'AVIGNON TGV', 'AIX EN PROVENCE TGV']), 'Departure region'] = 'PACA' #PACA stands for PROVENCE-ALPES-CÔTE D'AZUR - it's a common abbreviation in French 
df.loc[df['Departure station'].isin(['BESANCON FRANCHE COMTE TGV', 'DIJON VILLE', 'MACON LOCHE', 'LE CREUSOT MONTCEAU MONTCHANIN']), 'Departure region'] = 'Bourgogne-Franche-Comte'
df.loc[df['Departure station'].isin(['BARCELONA', 'GENEVE', 'MADRID', 'LAUSANNE', 'FRANCFORT', 'MILAN', 'ZURICH', 'STUTTGART']), 'Departure region'] = 'International'

In [11]:
# Creation of arrival region column
df['Arrival region'] = 'Other'
df.loc[df['Arrival station'].isin(['BORDEAUX ST JEAN', 'LA ROCHELLE VILLE', 'POITIERS', 'ANGOULEME']), 'Arrival region'] = 'Nouvelle-Aquitaine'
df.loc[df['Arrival station'].isin(['ST PIERRE DES CORPS', 'TOURS']), 'Arrival region'] = 'Centre-Val de Loire'
df.loc[df['Arrival station'].isin(['PARIS MONTPARNASSE', 'PARIS EST', 'PARIS VAUGIRARD', 'PARIS LYON', 'PARIS NORD', 'MARNE LA VALLEE']), 'Arrival region'] = 'Ile-de-France'
df.loc[df['Arrival station'].isin(['QUIMPER', 'RENNES', 'BREST', 'VANNES', 'ST MALO']), 'Arrival region'] = 'Bretagne'
df.loc[df['Arrival station'].isin(['NANTES', 'ANGERS SAINT LAUD', 'LE MANS', 'LAVAL']), 'Arrival region'] = 'Pays de la Loire'
df.loc[df['Arrival station'].isin(['STRASBOURG', 'MULHOUSE VILLE', 'REIMS', 'METZ', 'NANCY']), 'Arrival region'] = 'Grand-Est'
df.loc[df['Arrival station'].isin(['DUNKERQUE', 'LILLE', 'TOURCOING', 'DOUAI', 'ARRAS']), 'Arrival region'] = 'Hauts-de-France'
df.loc[df['Arrival station'].isin(['CHAMBERY CHALLES LES EAUX', 'LYON PART DIEU', 'BELLEGARDE (AIN)', 'GRENOBLE', 'ANNECY', 'SAINT ETIENNE CHATEAUCREUX', 'VALENCE ALIXAN TGV']), 'Arrival region'] = 'Auvergne-Rhone-Alpes'
df.loc[df['Arrival station'].isin(['MONTPELLIER', 'PERPIGNAN', 'NIMES', 'TOULOUSE MATABIAU']), 'Arrival region'] = 'Occitanie'
df.loc[df['Arrival station'].isin(['NICE VILLE', 'TOULON', 'MARSEILLE ST CHARLES', 'AVIGNON TGV', 'AIX EN PROVENCE TGV']), 'Arrival region'] = 'PACA' #PACA stands for PROVENCE-ALPES-CÔTE D'AZUR - it's a common abbreviation in French 
df.loc[df['Arrival station'].isin(['BESANCON FRANCHE COMTE TGV', 'DIJON VILLE', 'MACON LOCHE', 'LE CREUSOT MONTCEAU MONTCHANIN']), 'Arrival region'] = 'Bourgogne-Franche-Comte'
df.loc[df['Arrival station'].isin(['BARCELONA', 'GENEVE', 'MADRID', 'LAUSANNE', 'FRANCFORT', 'MILAN', 'ZURICH', 'STUTTGART']), 'Arrival region'] = 'International'

In [12]:
# Check result
df['Departure region'].value_counts()

Departure region
Ile-de-France              4165
Auvergne-Rhone-Alpes        936
PACA                        746
International               586
Hauts-de-France             557
Bretagne                    480
Grand-Est                   468
Pays de la Loire            402
Nouvelle-Aquitaine          400
Occitanie                   390
Bourgogne-Franche-Comte     312
Centre-Val de Loire         156
Name: count, dtype: int64

In [13]:
# Check result
df['Arrival region'].value_counts()

Arrival region
Ile-de-France              4165
Auvergne-Rhone-Alpes        936
PACA                        682
Hauts-de-France             621
International               586
Bretagne                    480
Grand-Est                   468
Pays de la Loire            402
Nouvelle-Aquitaine          400
Occitanie                   390
Bourgogne-Franche-Comte     312
Centre-Val de Loire         156
Name: count, dtype: int64

All the "Others" are gone, the new variables are successfully implemented.

# 3. Combine data sets

In [14]:
df_nb_tr.head()

,Unnamed: 0,Station name,UIC code,Total travelers 2023,Total travelers 2022,Total travelers 2021,Total travelers 2020,Total travelers 2019,Total travelers 2018,Total travelers 2017,Total travelers 2016,Total travelers 2015
0,0,Abancourt,87313759,77974,71517,51811,32396,42685,40228,43760,41096,39720
1,1,Agde,87781278,757491,689202,561160,394380,542288,588297,697091,660656,662516
2,2,Agen,87586008,1640325,1540511,1184007,860964,1211323,1109199,1194455,1141620,1183150
3,3,Agonac,87595157,9537,6468,4119,3271,2538,1492,1583,1134,1127
4,4,Aguilcourt - Variscourt,87171702,13464,13197,12294,10436,8796,6155,7368,8979,9821

## 3.1 Format data sets to match

In [15]:
# Capitalize names of station in df_nb_tr in order to match df
df_nb_tr['Station name'] = df_nb_tr['Station name'].str.upper()

In [16]:
df_nb_tr.head()

,Unnamed: 0,Station name,UIC code,Total travelers 2023,Total travelers 2022,Total travelers 2021,Total travelers 2020,Total travelers 2019,Total travelers 2018,Total travelers 2017,Total travelers 2016,Total travelers 2015
0,0,ABANCOURT,87313759,77974,71517,51811,32396,42685,40228,43760,41096,39720
1,1,AGDE,87781278,757491,689202,561160,394380,542288,588297,697091,660656,662516
2,2,AGEN,87586008,1640325,1540511,1184007,860964,1211323,1109199,1194455,1141620,1183150
3,3,AGONAC,87595157,9537,6468,4119,3271,2538,1492,1583,1134,1127
4,4,AGUILCOURT - VARISCOURT,87171702,13464,13197,12294,10436,8796,6155,7368,8979,9821

There are 59 stations in the first data set, minus 8 foreign stations, we should get the info about the number of travelers for 51 stations from this data set.

In [17]:
df_nb_tr_short = df_nb_tr.loc[df_nb_tr['Station name'].isin(['PARIS MONTPARNASSE', 'QUIMPER', 'ST MALO', 'ST PIERRE DES CORPS',
                                                             'LYON PART DIEU', 'STRASBOURG', 'PARIS EST', 'PARIS NORD', 
                                                             'TOURCOING', 'NANTES', 'PARIS VAUGIRARD', 'BORDEAUX ST JEAN',
                                                             'PARIS LYON', 'MARNE LA VALLEE', 'CHAMBERY CHALLES LES EAUX',
                                                             'MARSEILLE ST CHARLES', 'FRANCFORT', 'ZURICH', 'ANGOULEME',
                                                             'POITIERS', 'TOURS', 'METZ', 'REIMS', 'DOUAI', 'MONTPELLIER',
                                                             'MULHOUSE VILLE', 'VALENCE ALIXAN TGV', 'STUTTGART', 'BARCELONA',
                                                             'ANGERS SAINT LAUD', 'LAVAL', 'NANCY', 'LILLE', 'GRENOBLE',
                                                             'LE CREUSOT MONTCEAU MONTCHANIN', 'MACON LOCHE', 'NIMES', 'MILAN',
                                                             'LAUSANNE', 'RENNES', 'BREST', 'LA ROCHELLE VILLE', 'LE MANS',
                                                             'TOULOUSE MATABIAU', 'VANNES', 'DUNKERQUE', 'AVIGNON TGV',
                                                             'BELLEGARDE (AIN)', 'BESANCON FRANCHE COMTE TGV', 'DIJON VILLE',
                                                             'MADRID', 'ARRAS', 'AIX EN PROVENCE TGV', 'ANNECY', 'NICE VILLE',
                                                             'PERPIGNAN', 'SAINT ETIENNE CHATEAUCREUX', 'TOULON', 'GENEVE'])]

In [18]:
df_nb_tr_short

,Unnamed: 0,Station name,UIC code,Total travelers 2023,Total travelers 2022,Total travelers 2021,Total travelers 2020,Total travelers 2019,Total travelers 2018,Total travelers 2017,Total travelers 2016,Total travelers 2015
23,23,ANNECY,87746008,3000715,2817701,2127405,1562888,2334077,2209179,2390892,2216925,2235873
42,42,AVIGNON TGV,87318964,4179142,4160030,3124201,2154016,4094962,3685875,3899905,3836804,3865578
175,175,DOUAI,87345009,3221478,2964246,2312445,1960495,3049203,2823221,2974200,2863936,2908863
406,406,PERPIGNAN,87784009,2058369,1809687,1496637,1050546,1390185,1370425,1629171,1562086,1758375
549,549,ARRAS,87342014,4454183,3920113,2979908,2622169,4297088,4060559,4361839,4138307,4145669
562,562,TOULOUSE MATABIAU,87611004,14526190,12869088,10248180,7616091,9892175,8712234,10309397,9539321,10010314
863,863,LE MANS,87396002,5302246,5048028,3813805,2781897,4945609,4916622,5314986,5143229,5282858
1012,1012,POITIERS,87575001,3718607,3463640,2681891,1897571,3217576,3010346,3189495,2933905,3058508
1041,1041,REIMS,87171009,4970676,4309354,3131748,2551210,3820119,3643133,3966061,3751481,3884021
1043,1043,RENNES,87471003,15169003,13921836,9619265,7431788,11588429,10418643,10381870,9411458,9437542
1275,1275,BREST,87474007,2572723,2370384,1760542,1305129,1962604,1722004,1709736,1631603,1653322
1478,1478,LAVAL,87478404,1585924,1476306,1117818,830231,1381878,1340455,1318250,1250032,1248381
1574,1574,NANCY,87141002,9228582,8320214,6402271,5160489,8098462,7582349,7891228,7633063,7918088
1596,1596,PARIS EST,87113001,39877017,36774394,27758686,21580625,41240098,39301206,38455354,35820125,34919689
1714,1714,TOURCOING,87286542,710223,609158,534310,425537,610714,731606,1048189,840616,169429
1716,1716,TOURS,87571000,6506313,6248554,4377052,3152214,4962177,4690784,4876333,4641092,4755405
1909,1909,DUNKERQUE,87281006,2042446,1905250,1414394,1241973,1931759,1663300,1756974,1681344,1753890
1942,1942,GRENOBLE,87747006,8121338,7993812,6150709,4781532,7796571,7057612,7674268,7237980,7549493
2073,2073,LYON PART DIEU,87723197,40088689,36558465,26187679,19541666,32587523,32555240,34874317,32525629,32411748
2095,2095,METZ,87192039,9407728,8302189,5959695,4687126,7600267,7035904,7327159,6999919,7121214
2124,2124,NANTES,87481002,17082588,15512154,11031867,8047221,12961997,11811037,11877861,11048763,10747895
2153,2153,PARIS MONTPARNASSE,87391003,64471254,56862435,41039816,32447396,61374056,59174533,57752742,55162747,55167664
2304,2304,TOULON,87755009,4733117,4439452,3667722,2524370,3668509,3534118,4122788,3835728,3813793
2831,2831,QUIMPER,87474098,1619395,1483787,1076265,745934,1058048,951271,949964,880602,918186
2932,2932,STRASBOURG,87212027,23907864,21446966,16328098,13049946,21465169,20170472,19989293,18472587,18232891
2963,2963,VANNES,87476606,2170614,2019329,1512731,1088186,1599913,1412592,1443182,1324949,1322859

In [19]:
df_nb_tr_short['Station name'].nunique()

26

Only 26 stations made it. It means 25 stations are either missing from df_nb_tr, or have differently formated names. I identified the missing stations:
'ST MALO', 'ST PIERRE DES CORPS', 'PARIS NORD', 'PARIS VAUGIRARD', 'BORDEAUX ST JEAN', 'PARIS LYON', 'MARNE LA VALLEE', 'CHAMBERY CHALLES LES EAUX', 'MARSEILLE ST CHARLES', 'ANGOULEME', 'MONTPELLIER', 'MULHOUSE VILLE', 'VALENCE ALIXAN TGV','ANGERS SAINT LAUD', 'LILLE', 'LE CREUSOT MONTCEAU MONTCHANIN', 'MACON LOCHE', 'NIMES', 'LA ROCHELLE VILLE', 'BELLEGARDE (AIN)', 'BESANCON FRANCHE COMTE TGV', 'DIJON VILLE', 'AIX EN PROVENCE TGV', 'NICE VILLE', 'SAINT ETIENNE CHATEAUCREUX'


I checked the data set in Excel, where it was easier to spot the station names and see how the format was different.

24 stations were indeed spelled differently: a lot of them are names composed of several words, and the issue was a missing hyphen. Others had a longer name in a set than in another (for example: "MONTPELLIER" instead of "MONTPELLIER SAINT-ROCH". Also some mismatch about "ST" / "SAINT" (like ST MALO)

1 station is missing from df_nb_tr: PARIS VAUGIRARD. This station closed in 2019. In our df, it only had data for 2018.

I will manually rename those 24 stations in df to have a perfect match in the formating and be able to proceed to the merging.

In [20]:
def rename_stations (df, column_name, replacements):
    for old_value, new_value in replacements.items():
        df.loc[df[column_name] == old_value, column_name] = new_value
        
replacements = {
    'ST MALO': 'SAINT-MALO',
    'ST PIERRE DES CORPS': 'SAINT-PIERRE-DES-CORPS',
    'PARIS NORD': 'PARIS GARE DU NORD',
    'PARIS LYON': 'PARIS GARE DE LYON',
    'BORDEAUX ST JEAN': 'BORDEAUX SAINT-JEAN',
    'MARNE LA VALLEE': 'MARNE-LA-VALLÉE CHESSY',
    'CHAMBERY CHALLES LES EAUX': 'CHAMBÉRY - CHALLES-LES-EAUX',
    'MARSEILLE ST CHARLES': 'MARSEILLE SAINT-CHARLES',
    'ANGOULEME': 'ANGOULÊME',
    'MONTPELLIER': 'MONTPELLIER SAINT-ROCH',
    'MULHOUSE VILLE': 'MULHOUSE',
    'VALENCE ALIXAN TGV': 'VALENCE TGV RHÔNE-ALPES SUD',
    'ANGERS SAINT LAUD': 'ANGERS SAINT-LAUD',
    'LILLE': 'LILLE EUROPE',
    'LE CREUSOT MONTCEAU MONTCHANIN': 'LE CREUSOT - MONTCEAU-LES-MINES - MONTCHANIN TGV',
    'MACON LOCHE': 'MÂCON LOCHÉ TGV',
    'NIMES': 'NÎMES',
    'LA ROCHELLE VILLE': 'LA ROCHELLE',
    'BELLEGARDE (AIN)': 'BELLEGARDE-SUR-VALSERINE',
    'BESANCON FRANCHE COMTE TGV': 'BESANÇON FRANCHE-COMTÉ TGV',
    'DIJON VILLE': 'DIJON',
    'AIX EN PROVENCE TGV': 'AIX-EN-PROVENCE TGV',
    'NICE VILLE': 'NICE',
    'SAINT ETIENNE CHATEAUCREUX': 'SAINT-ÉTIENNE CHÂTEAUCREUX',
}

rename_stations(df, 'Departure station', replacements)
rename_stations(df, 'Arrival station', replacements)

In [21]:
# Check result
df['Departure station'].unique()

array(['BORDEAUX SAINT-JEAN', 'LA ROCHELLE', 'PARIS MONTPARNASSE',
       'QUIMPER', 'RENNES', 'SAINT-PIERRE-DES-CORPS', 'TOURS', 'NANTES',
       'PARIS EST', 'STRASBOURG', 'DUNKERQUE', 'LILLE EUROPE',
       'PARIS VAUGIRARD', 'TOURCOING', 'CHAMBÉRY - CHALLES-LES-EAUX',
       'LYON PART DIEU', 'MONTPELLIER SAINT-ROCH', 'MULHOUSE', 'NICE',
       'PARIS GARE DE LYON', 'BARCELONA', 'GENEVE', 'MADRID', 'BREST',
       'POITIERS', 'TOULOUSE MATABIAU', 'REIMS', 'DOUAI',
       'PARIS GARE DU NORD', 'BELLEGARDE-SUR-VALSERINE',
       'MÂCON LOCHÉ TGV', 'MARNE-LA-VALLÉE CHESSY', 'PERPIGNAN', 'TOULON',
       'LAUSANNE', 'ANGERS SAINT-LAUD', 'METZ', 'NANCY',
       'BESANÇON FRANCHE-COMTÉ TGV', 'GRENOBLE', 'NÎMES',
       'SAINT-ÉTIENNE CHÂTEAUCREUX', 'FRANCFORT', 'MILAN', 'ZURICH',
       'ANGOULÊME', 'VANNES', 'MARSEILLE SAINT-CHARLES', 'ANNECY',
       'AVIGNON TGV', 'VALENCE TGV RHÔNE-ALPES SUD', 'STUTTGART', 'LAVAL',
       'LE MANS', 'SAINT-MALO', 'ARRAS', 'AIX-EN-PROVENCE TGV', 'DIJON',
       'LE CREUSOT - MONTCEAU-LES-MINES - MONTCHANIN TGV'], dtype=object)

In [22]:
# Check result and get new list
df['Arrival station'].unique()

array(['PARIS MONTPARNASSE', 'QUIMPER', 'SAINT-MALO',
       'SAINT-PIERRE-DES-CORPS', 'LYON PART DIEU', 'STRASBOURG',
       'PARIS EST', 'PARIS GARE DU NORD', 'TOURCOING', 'NANTES',
       'PARIS VAUGIRARD', 'BORDEAUX SAINT-JEAN', 'PARIS GARE DE LYON',
       'MARNE-LA-VALLÉE CHESSY', 'CHAMBÉRY - CHALLES-LES-EAUX',
       'MARSEILLE SAINT-CHARLES', 'FRANCFORT', 'ZURICH', 'ANGOULÊME',
       'POITIERS', 'TOURS', 'METZ', 'REIMS', 'DOUAI',
       'MONTPELLIER SAINT-ROCH', 'MULHOUSE',
       'VALENCE TGV RHÔNE-ALPES SUD', 'STUTTGART', 'BARCELONA',
       'ANGERS SAINT-LAUD', 'LAVAL', 'NANCY', 'LILLE EUROPE', 'GRENOBLE',
       'LE CREUSOT - MONTCEAU-LES-MINES - MONTCHANIN TGV',
       'MÂCON LOCHÉ TGV', 'NÎMES', 'MILAN', 'LAUSANNE', 'RENNES', 'BREST',
       'LA ROCHELLE', 'LE MANS', 'TOULOUSE MATABIAU', 'VANNES',
       'DUNKERQUE', 'AVIGNON TGV', 'BELLEGARDE-SUR-VALSERINE',
       'BESANÇON FRANCHE-COMTÉ TGV', 'DIJON', 'MADRID', 'ARRAS',
       'AIX-EN-PROVENCE TGV', 'ANNECY', 'NICE', 'PERPIGNAN',
       'SAINT-ÉTIENNE CHÂTEAUCREUX', 'TOULON', 'GENEVE'], dtype=object)

Changes are successfully implemented in df. Let's try again to create df_nb_tr_short with only the train stations that appear in df.

In [23]:
# Create again the new short data set
df_nb_tr_short = df_nb_tr.loc[df_nb_tr['Station name'].isin(['PARIS MONTPARNASSE', 'QUIMPER', 'SAINT-MALO',
       'SAINT-PIERRE-DES-CORPS', 'LYON PART DIEU', 'STRASBOURG',
       'PARIS EST', 'PARIS GARE DU NORD', 'TOURCOING', 'NANTES',
       'PARIS VAUGIRARD', 'BORDEAUX SAINT-JEAN', 'PARIS GARE DE LYON',
       'MARNE-LA-VALLÉE CHESSY', 'CHAMBÉRY - CHALLES-LES-EAUX',
       'MARSEILLE SAINT-CHARLES', 'FRANCFORT', 'ZURICH', 'ANGOULÊME',
       'POITIERS', 'TOURS', 'METZ', 'REIMS', 'DOUAI',
       'MONTPELLIER SAINT-ROCH', 'MULHOUSE',
       'VALENCE TGV RHÔNE-ALPES SUD', 'STUTTGART', 'BARCELONA',
       'ANGERS SAINT-LAUD', 'LAVAL', 'NANCY', 'LILLE EUROPE', 'GRENOBLE',
       'LE CREUSOT - MONTCEAU-LES-MINES - MONTCHANIN TGV',
       'MÂCON LOCHÉ TGV', 'NÎMES', 'MILAN', 'LAUSANNE', 'RENNES', 'BREST',
       'LA ROCHELLE', 'LE MANS', 'TOULOUSE MATABIAU', 'VANNES',
       'DUNKERQUE', 'AVIGNON TGV', 'BELLEGARDE-SUR-VALSERINE',
       'BESANÇON FRANCHE-COMTÉ TGV', 'DIJON', 'MADRID', 'ARRAS',
       'AIX-EN-PROVENCE TGV', 'ANNECY', 'NICE', 'PERPIGNAN',
       'SAINT-ÉTIENNE CHÂTEAUCREUX', 'TOULON', 'GENEVE'])]

In [24]:
df_nb_tr_short

,Unnamed: 0,Station name,UIC code,Total travelers 2023,Total travelers 2022,Total travelers 2021,Total travelers 2020,Total travelers 2019,Total travelers 2018,Total travelers 2017,Total travelers 2016,Total travelers 2015
9,9,AIX-EN-PROVENCE TGV,87319012,3697010,3739796,2916645,2059068,3594151,3597729,3699076,3403078,3388402
22,22,ANGOULÊME,87583005,2218965,2198301,1516910,1111740,1826364,1712440,1835079,1688713,1717696
23,23,ANNECY,87746008,3000715,2817701,2127405,1562888,2334077,2209179,2390892,2216925,2235873
42,42,AVIGNON TGV,87318964,4179142,4160030,3124201,2154016,4094962,3685875,3899905,3836804,3865578
175,175,DOUAI,87345009,3221478,2964246,2312445,1960495,3049203,2823221,2974200,2863936,2908863
392,392,NÎMES,87775007,4575772,4316299,3376038,2369197,3585941,3669749,4105151,3937669,3794045
406,406,PERPIGNAN,87784009,2058369,1809687,1496637,1050546,1390185,1370425,1629171,1562086,1758375
484,484,SAINT-PIERRE-DES-CORPS,87571240,4252582,3784800,2918332,2121656,3710116,3457033,3697167,3553503,3557596
531,531,ANGERS SAINT-LAUD,87484006,6781537,6269502,4662966,3433325,5739760,5372470,5647027,5368048,5411683
549,549,ARRAS,87342014,4454183,3920113,2979908,2622169,4297088,4060559,4361839,4138307,4145669
562,562,TOULOUSE MATABIAU,87611004,14526190,12869088,10248180,7616091,9892175,8712234,10309397,9539321,10010314
691,691,CHAMBÉRY - CHALLES-LES-EAUX,87741009,4738346,4316253,3195946,2466954,3701807,3447007,3781533,3624235,3782600
863,863,LE MANS,87396002,5302246,5048028,3813805,2781897,4945609,4916622,5314986,5143229,5282858
909,909,MARNE-LA-VALLÉE CHESSY,87111849,4319252,4641120,3312209,2492919,5432886,5996489,6009276,5418784,5443822
913,913,MARSEILLE SAINT-CHARLES,87751008,17101341,16906447,13225716,9569704,14629257,13681361,14450431,13544008,13686954
963,963,MÂCON LOCHÉ TGV,87725705,465175,440823,340147,241155,468049,431203,458195,425545,426960
1012,1012,POITIERS,87575001,3718607,3463640,2681891,1897571,3217576,3010346,3189495,2933905,3058508
1041,1041,REIMS,87171009,4970676,4309354,3131748,2551210,3820119,3643133,3966061,3751481,3884021
1043,1043,RENNES,87471003,15169003,13921836,9619265,7431788,11588429,10418643,10381870,9411458,9437542
1252,1252,BELLEGARDE-SUR-VALSERINE,87745000,1723382,1500251,1123969,775242,1305663,1151476,1352028,1359050,1419005
1269,1269,BORDEAUX SAINT-JEAN,87581009,22612374,21353889,16454662,11184093,17675655,16080989,14979299,12198403,12062338
1275,1275,BREST,87474007,2572723,2370384,1760542,1305129,1962604,1722004,1709736,1631603,1653322
1478,1478,LAVAL,87478404,1585924,1476306,1117818,830231,1381878,1340455,1318250,1250032,1248381
1574,1574,NANCY,87141002,9228582,8320214,6402271,5160489,8098462,7582349,7891228,7633063,7918088
1596,1596,PARIS EST,87113001,39877017,36774394,27758686,21580625,41240098,39301206,38455354,35820125,34919689
1597,1597,PARIS GARE DE LYON,87686006,110498896,102024783,84120158,55824824,112644337,111226947,113962625,111664289,111506043
1678,1678,SAINT-ÉTIENNE CHÂTEAUCREUX,87726000,3966356,3685091,2678707,1776534,3728728,3387131,3611638,3362571,3194896
1714,1714,TOURCOING,87286542,710223,609158,534310,425537,610714,731606,1048189,840616,169429
1716,1716,TOURS,87571000,6506313,6248554,4377052,3152214,4962177,4690784,4876333,4641092,4755405
1725,1725,VALENCE TGV RHÔNE-ALPES SUD,87763029,3550552,3022392,2187316,1550358,2597471,2620451,2864995,2652348,2614822
1818,1818,BESANÇON FRANCHE-COMTÉ TGV,87300863,739282,618834,501306,349723,657453,641643,712656,682900,689453
1909,1909,DUNKERQUE,87281006,2042446,1905250,1414394,1241973,1931759,1663300,1756974,1681344,1753890
1942,1942,GRENOBLE,87747006,8121338,7993812,6150709,4781532,7796571,7057612,7674268,7237980,7549493
1999,1999,LA ROCHELLE,87485003,2925287,2692269,2059413,1490951,2235983,1984267,2068356,1771473,1886734
2073,2073,LYON PART DIEU,87723197,40088689,36558465,26187679,19541666,32587523,32555240,34874317,32525629,32411748
2095,2095,METZ,87192039,9407728,8302189,5959695,4687126,7600267,7035904,7327159,6999919,7121214
2107,2107,MONTPELLIER SAINT-ROCH,87773002,8061640,7646291,5850564,4220874,6393777,7123630,8667721,8131336,8013271
2118,2118,MULHOUSE,87182063,5637668,5056324,4074689,3408899,5320370,5055333,5174727,4946420,5017072
2124,2124,NANTES,87481002,17082588,15512154,11031867,8047221,12961997,11811037,11877861,11048763,10747895
2152,2152,PARIS GARE DU NORD,87271007,226768485,211698470,126621006,92233317,244744368,244465576,247963153,242273091,238356138
2153,2153,PARIS MONTPARNASSE,87391003,64471254,56862435,41039816,32447396,61374056,59174533,57752742,55162747,55167664
2304,2304,TOULON,87755009,4733117,4439452,3667722,2524370,3668509,3534118,4122788,3835728,3813793
2523,2523,DIJON,87713040,7653382,7081622,4861793,4149069,6350035,5798071,6207518,5901000,6159680
2662,2662,LE CREUSOT - MONTCEAU-LES-MINES - MONTCHANIN TGV,87694109,689875,653544,500230,393139,691000,688741,732662,723396,750269
2696,2696,LILLE EUROPE,87223263,6721133,6056899,4337868,3303176,7754675,7696028,8314520,7780562,7846574
2784,2784,NICE,87756056,11229438,9397550,6631770,5221606,9517119,8415150,9028045,8030193,8394842
2831,2831,QUIMPER,87474098,1619395,1483787,1076265,745934,1058048,951271,949964,880602,918186
2894,2894,SAINT-MALO,87478107,1703866,1638571,1202705,889726,1263626,1135793,1164343,1092776,1107633
2932,2932,STRASBOURG,87212027,23907864,21446966,16328098,13049946,21465169,20170472,19989293,18472587,18232891
2963,2963,VANNES,87476606,2170614,2019329,1512731,1088186,1599913,1412592,1443182,1324949,1322859

In [25]:
df_nb_tr_short.shape

(50, 12)

df had 59 stations, minus 8 international stations, minus PARIS VAUGIRARD: df_nb_tr_short has 50 rows/50 stations, as it should. Let's just drop the info in df_nb_tr_short about the number of travellers before 2018, as df only has info from 2018 onwards; and useless columns.

In [26]:
# drop IUC, 'Unnamed: 0' as they won't be useful, and info before 2018
df_nb_tr_short = df_nb_tr_short.drop(columns = ['Unnamed: 0', 'UIC code', 'Total travelers 2015', 'Total travelers 2016', 'Total travelers 2017'])

In [27]:
# Check result
df_nb_tr_short.head(1)

,Station name,Total travelers 2023,Total travelers 2022,Total travelers 2021,Total travelers 2020,Total travelers 2019,Total travelers 2018
9,AIX-EN-PROVENCE TGV,3697010,3739796,2916645,2059068,3594151,3597729

In [28]:
# Export df_nb_tr_short
df_nb_tr_short.to_csv(os.path.join(path, '02 Data','Prepared Data', 'df_nb_travelers_short.csv'))

## 3.2 Merge the data sets

One last small step before merging: changing the columns names. I will have to do it twice in order to get the info of the number of travelers both for the Departure station and the Arrival station.

In [29]:
# Rename columns for merging on Departure station
df_nb_tr_short.rename(columns={
    'Station name' : 'Departure station',
    'Total travelers 2023': 'Departure station: Total travelers 2023',
    'Total travelers 2022': 'Departure station: Total travelers 2022',
    'Total travelers 2021': 'Departure station: Total travelers 2021',
    'Total travelers 2020': 'Departure station: Total travelers 2020',
    'Total travelers 2019': 'Departure station: Total travelers 2019',
    'Total travelers 2018': 'Departure station: Total travelers 2018',
}, inplace = True)

In [30]:
# Merging the 2 data sets. It has to be a left join, to keep rows from intl stations and Paris Vaugirard
df_merged_step1 = df.merge(df_nb_tr_short, on = 'Departure station', how = 'left', indicator = True)

In [31]:
# Check result
df_merged_step1

,Unnamed: 0,Date,Service,Departure station,Arrival station,Avg trip length,Number of trips scheduled,Number of trains cancelled,Number of trains delayed on departure,Avg delay of trains delayed on departure,...,"% delay because of accommodation of passengers (crowd, disability, connections)",Departure region,Arrival region,Departure station: Total travelers 2023,Departure station: Total travelers 2022,Departure station: Total travelers 2021,Departure station: Total travelers 2020,Departure station: Total travelers 2019,Departure station: Total travelers 2018,_merge
0,0,2018-01,National,BORDEAUX SAINT-JEAN,PARIS MONTPARNASSE,141,870,5,289,11.247809,...,0.840336,Nouvelle-Aquitaine,Ile-de-France,22612374.0,21353889.0,16454662.0,11184093.0,17675655.0,16080989.0,both
1,1,2018-01,National,LA ROCHELLE,PARIS MONTPARNASSE,165,222,0,8,2.875000,...,0.000000,Nouvelle-Aquitaine,Ile-de-France,2925287.0,2692269.0,2059413.0,1490951.0,2235983.0,1984267.0,both
2,2,2018-01,National,PARIS MONTPARNASSE,QUIMPER,220,248,1,37,9.501351,...,0.000000,Ile-de-France,Bretagne,64471254.0,56862435.0,41039816.0,32447396.0,61374056.0,59174533.0,both
3,3,2018-01,National,PARIS MONTPARNASSE,SAINT-MALO,156,102,0,12,19.912500,...,0.000000,Ile-de-France,Bretagne,64471254.0,56862435.0,41039816.0,32447396.0,61374056.0,59174533.0,both
4,4,2018-01,National,PARIS MONTPARNASSE,SAINT-PIERRE-DES-CORPS,61,391,2,61,7.796995,...,0.000000,Ile-de-France,Centre-Val de Loire,64471254.0,56862435.0,41039816.0,32447396.0,61374056.0,59174533.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9593,9593,2024-06,National,PARIS MONTPARNASSE,SAINT-PIERRE-DES-CORPS,69,525,1,53,19.719497,...,8.888889,Ile-de-France,Centre-Val de Loire,64471254.0,56862435.0,41039816.0,32447396.0,61374056.0,59174533.0,both
9594,9594,2024-06,National,PARIS MONTPARNASSE,TOULOUSE MATABIAU,278,214,0,27,15.431481,...,6.666667,Ile-de-France,Occitanie,64471254.0,56862435.0,41039816.0,32447396.0,61374056.0,59174533.0,both
9595,9595,2024-06,National,PARIS GARE DU NORD,LILLE EUROPE,67,653,8,53,14.909748,...,18.411230,Ile-de-France,Hauts-de-France,226768485.0,211698470.0,126621006.0,92233317.0,244744368.0,244465576.0,both
9596,9596,2024-06,National,SAINT-PIERRE-DES-CORPS,PARIS MONTPARNASSE,66,526,0,197,5.741032,...,9.333333,Centre-Val de Loire,Ile-de-France,4252582.0,3784800.0,2918332.0,2121656.0,3710116.0,3457033.0,both
9597,9597,2024-06,National,TOULON,PARIS GARE DE LYON,239,284,0,148,10.248198,...,8.196721,PACA,Ile-de-France,4733117.0,4439452.0,3667722.0,2524370.0,3668509.0,3534118.0,both

I'm expecting some gaps where the departure station is international or Paris Vaugirard. The "Total travelers" columns will say "NaN", because the data was not in the df_nb_tr data set. It's okay; let's keep in mind that those "NaN" mean the data is not available.

In [32]:
# View the rows with missing data
df_merged_step1.loc[df_merged_step1['_merge'] != 'both']

,Unnamed: 0,Date,Service,Departure station,Arrival station,Avg trip length,Number of trips scheduled,Number of trains cancelled,Number of trains delayed on departure,Avg delay of trains delayed on departure,...,"% delay because of accommodation of passengers (crowd, disability, connections)",Departure region,Arrival region,Departure station: Total travelers 2023,Departure station: Total travelers 2022,Departure station: Total travelers 2021,Departure station: Total travelers 2020,Departure station: Total travelers 2019,Departure station: Total travelers 2018,_merge
15,15,2018-01,National,PARIS VAUGIRARD,NANTES,140,62,0,15,11.641111,...,0.000000,Ile-de-France,Pays de la Loire,NaN,NaN,NaN,NaN,NaN,NaN,left_only
25,25,2018-01,International,BARCELONA,PARIS GARE DE LYON,390,35,0,10,1.400000,...,0.000000,International,Ile-de-France,NaN,NaN,NaN,NaN,NaN,NaN,left_only
26,26,2018-01,International,GENEVE,PARIS GARE DE LYON,194,230,1,161,3.735818,...,2.777778,International,Ile-de-France,NaN,NaN,NaN,NaN,NaN,NaN,left_only
27,27,2018-01,International,MADRID,MARSEILLE SAINT-CHARLES,481,16,1,6,3.500000,...,0.000000,International,PACA,NaN,NaN,NaN,NaN,NaN,NaN,left_only
56,56,2018-01,International,LAUSANNE,PARIS GARE DE LYON,219,144,3,110,3.083182,...,14.285714,International,Ile-de-France,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9482,9482,2024-06,International,STUTTGART,PARIS EST,202,140,1,78,9.017094,...,16.666667,International,Ile-de-France,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9499,9499,2024-06,International,FRANCFORT,PARIS EST,231,152,5,91,7.254762,...,7.894737,International,Ile-de-France,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9524,9524,2024-06,International,BARCELONA,PARIS GARE DE LYON,414,70,0,0,0.000000,...,9.090909,International,Ile-de-France,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9525,9525,2024-06,International,GENEVE,PARIS GARE DE LYON,195,234,1,142,3.430164,...,7.692308,International,Ile-de-France,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9526,9526,2024-06,International,ZURICH,PARIS GARE DE LYON,246,168,2,37,1.981982,...,6.250000,International,Ile-de-France,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [33]:
# Need to rename "_merge" column to be able to do the 2nd merging
df_merged_step1.rename(columns={'_merge' : '_merge_1'}, inplace = True)

In [34]:
# Rename columns for merging on Arrival station
df_nb_tr_short.rename(columns={
    'Departure station' : 'Arrival station',
    'Departure station: Total travelers 2023': 'Arrival station: Total travelers 2023',
    'Departure station: Total travelers 2022': 'Arrival station: Total travelers 2022',
    'Departure station: Total travelers 2021': 'Arrival station: Total travelers 2021',
    'Departure station: Total travelers 2020': 'Arrival station: Total travelers 2020',
    'Departure station: Total travelers 2019': 'Arrival station: Total travelers 2019',
    'Departure station: Total travelers 2018': 'Arrival station: Total travelers 2018',
}, inplace = True)

In [35]:
# Merging the 2 data sets. It has to be a left join, to keep rows from intl stations and Paris Vaugirard
df_merged_total = df_merged_step1.merge(df_nb_tr_short, on = 'Arrival station', how = 'left', indicator = True)

In [36]:
# Check result
df_merged_total

,Unnamed: 0,Date,Service,Departure station,Arrival station,Avg trip length,Number of trips scheduled,Number of trains cancelled,Number of trains delayed on departure,Avg delay of trains delayed on departure,...,Departure station: Total travelers 2019,Departure station: Total travelers 2018,_merge_1,Arrival station: Total travelers 2023,Arrival station: Total travelers 2022,Arrival station: Total travelers 2021,Arrival station: Total travelers 2020,Arrival station: Total travelers 2019,Arrival station: Total travelers 2018,_merge
0,0,2018-01,National,BORDEAUX SAINT-JEAN,PARIS MONTPARNASSE,141,870,5,289,11.247809,...,17675655.0,16080989.0,both,64471254.0,56862435.0,41039816.0,32447396.0,61374056.0,59174533.0,both
1,1,2018-01,National,LA ROCHELLE,PARIS MONTPARNASSE,165,222,0,8,2.875000,...,2235983.0,1984267.0,both,64471254.0,56862435.0,41039816.0,32447396.0,61374056.0,59174533.0,both
2,2,2018-01,National,PARIS MONTPARNASSE,QUIMPER,220,248,1,37,9.501351,...,61374056.0,59174533.0,both,1619395.0,1483787.0,1076265.0,745934.0,1058048.0,951271.0,both
3,3,2018-01,National,PARIS MONTPARNASSE,SAINT-MALO,156,102,0,12,19.912500,...,61374056.0,59174533.0,both,1703866.0,1638571.0,1202705.0,889726.0,1263626.0,1135793.0,both
4,4,2018-01,National,PARIS MONTPARNASSE,SAINT-PIERRE-DES-CORPS,61,391,2,61,7.796995,...,61374056.0,59174533.0,both,4252582.0,3784800.0,2918332.0,2121656.0,3710116.0,3457033.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9593,9593,2024-06,National,PARIS MONTPARNASSE,SAINT-PIERRE-DES-CORPS,69,525,1,53,19.719497,...,61374056.0,59174533.0,both,4252582.0,3784800.0,2918332.0,2121656.0,3710116.0,3457033.0,both
9594,9594,2024-06,National,PARIS MONTPARNASSE,TOULOUSE MATABIAU,278,214,0,27,15.431481,...,61374056.0,59174533.0,both,14526190.0,12869088.0,10248180.0,7616091.0,9892175.0,8712234.0,both
9595,9595,2024-06,National,PARIS GARE DU NORD,LILLE EUROPE,67,653,8,53,14.909748,...,244744368.0,244465576.0,both,6721133.0,6056899.0,4337868.0,3303176.0,7754675.0,7696028.0,both
9596,9596,2024-06,National,SAINT-PIERRE-DES-CORPS,PARIS MONTPARNASSE,66,526,0,197,5.741032,...,3710116.0,3457033.0,both,64471254.0,56862435.0,41039816.0,32447396.0,61374056.0,59174533.0,both
9597,9597,2024-06,National,TOULON,PARIS GARE DE LYON,239,284,0,148,10.248198,...,3668509.0,3534118.0,both,110498896.0,102024783.0,84120158.0,55824824.0,112644337.0,111226947.0,both

In [37]:
# View the rows with missing data
df_merged_total.loc[df_merged_total['_merge'] != 'both']

,Unnamed: 0,Date,Service,Departure station,Arrival station,Avg trip length,Number of trips scheduled,Number of trains cancelled,Number of trains delayed on departure,Avg delay of trains delayed on departure,...,Departure station: Total travelers 2019,Departure station: Total travelers 2018,_merge_1,Arrival station: Total travelers 2023,Arrival station: Total travelers 2022,Arrival station: Total travelers 2021,Arrival station: Total travelers 2020,Arrival station: Total travelers 2019,Arrival station: Total travelers 2018,_merge
16,16,2018-01,National,RENNES,PARIS VAUGIRARD,111,31,0,7,2.857143,...,11588429.0,10418643.0,both,NaN,NaN,NaN,NaN,NaN,NaN,left_only
28,28,2018-01,International,PARIS EST,FRANCFORT,226,177,2,19,6.242105,...,41240098.0,39301206.0,both,NaN,NaN,NaN,NaN,NaN,NaN,left_only
29,29,2018-01,International,PARIS GARE DE LYON,ZURICH,241,153,3,25,8.940000,...,112644337.0,111226947.0,both,NaN,NaN,NaN,NaN,NaN,NaN,left_only
44,44,2018-01,National,NANTES,PARIS VAUGIRARD,143,62,0,15,13.871111,...,12961997.0,11811037.0,both,NaN,NaN,NaN,NaN,NaN,NaN,left_only
57,57,2018-01,International,PARIS EST,STUTTGART,186,155,4,20,10.300000,...,41240098.0,39301206.0,both,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9481,9481,2024-06,International,PARIS GARE DE LYON,ZURICH,245,148,1,22,13.717424,...,112644337.0,111226947.0,both,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9546,9546,2024-06,International,PARIS GARE DE LYON,BARCELONA,409,70,0,8,10.039583,...,112644337.0,111226947.0,both,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9547,9547,2024-06,International,PARIS GARE DE LYON,GENEVE,191,234,1,43,17.628682,...,112644337.0,111226947.0,both,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9573,9573,2024-06,International,PARIS EST,STUTTGART,192,139,4,9,27.150000,...,41240098.0,39301206.0,both,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9574,9574,2024-06,International,PARIS GARE DE LYON,LAUSANNE,230,163,3,24,29.429861,...,112644337.0,111226947.0,both,NaN,NaN,NaN,NaN,NaN,NaN,left_only

Our final data set is almost ready for further analysis. Let's just drop the columns we know we won't use anymore.

In [38]:
df_merged_total = df_merged_total.drop(columns = ['Unnamed: 0', '_merge_1', '_merge'])

In [39]:
df_merged_total.head(1)

,Date,Service,Departure station,Arrival station,Avg trip length,Number of trips scheduled,Number of trains cancelled,Number of trains delayed on departure,Avg delay of trains delayed on departure,Avg delay of all trains on departure,...,Departure station: Total travelers 2021,Departure station: Total travelers 2020,Departure station: Total travelers 2019,Departure station: Total travelers 2018,Arrival station: Total travelers 2023,Arrival station: Total travelers 2022,Arrival station: Total travelers 2021,Arrival station: Total travelers 2020,Arrival station: Total travelers 2019,Arrival station: Total travelers 2018
0,2018-01,National,BORDEAUX SAINT-JEAN,PARIS MONTPARNASSE,141,870,5,289,11.247809,3.693179,...,16454662.0,11184093.0,17675655.0,16080989.0,64471254.0,56862435.0,41039816.0,32447396.0,61374056.0,59174533.0

## 3.3 Export final data set

In [40]:
df_merged_total.to_csv(os.path.join(path, '02 Data','Prepared Data', 'df_delay_and_nb_travelers.csv'))